* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    background-color: rgb(40, 39, 54);
}
button {
    background: none;
    border: solid white 3px;
    border-radius: 50%;
    padding: 30px;
    margin-right: 20px;
}

.button-container {
    display: flex;
    padding: 10px;
}

#result {
    display: flex;
    justify-content: center;
}

.container {
    display: inline-block;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 10px;
}